{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-console": "error",
        "no-var": "error",
        "yoda": "error",
        "semi": "error",
        "valid-jsdoc": "error",
        "@typescript-eslint/no-invalid-void-type": "error",
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/consistent-type-exports": "error",
        "@typescript-eslint/no-mixed-enums": "error",
        "@typescript-eslint/non-nullable-type-assertion-style": "error",
        "@typescript-eslint/no-unnecessary-condition": "error",
        "@typescript-eslint/no-misused-new": "error",
        "@typescript-eslint/no-namespace": "error",
        "indent": [
            "error",
            4
        ],
        "brace-style": [
            "error",
            "stroustrup",
            {
                "allowSingleLine": true
            }
        ],
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": "default",
                "format": [
                    // vars
                    "camelCase",
                    // interfaces
                    "PascalCase",
                    // constants 
                    "UPPER_CASE",
                    // api related 
                    "snake_case"
                ]
            }
        ],
        "@typescript-eslint/consistent-type-assertions": [
            "error",
            {
                "assertionStyle": "as"
            }
        ]
    }
}